    h1{color: ForestGreen;
    }
        body{background-color: AntiqueWhite;
        }
        h1{font-family: cursive;
        }
        h2{font-family: cursive;
        }
        h3{font-family: cursive;
        }
        h2{color: LightCoral;
        }
        h1{border-bottom-style: double;
        }
        h1{border-bottom-color: black;
        }
        h2{text-align: center;
        }
        h3{text-align: center;
        }
        body{font-family: arial;
        }
        