h1{color: blue;
}

/*#DB4442
#80CSF5
#47AC2A
*/

header{
    background-color: #dddddd;
    width: 40%;
    margin-left: auto;
    margin-right:auto;
    padding: 50px;
}

a{
    color: #47AC2A;
}

h1{
    color: #47AC2A;
}
div{
    width: 200px;
    height: 200px;
    background-color: #47AC21;
}
.color1{
    width: 200px;
    height: 200px;
    background-color: #47AC21;
}
.color2{
    width: 200px;
    height: 200px;
    background-color: #47AC21;
}
.color3{
    width: 200px;
    height: 200px;
    background-color: #80CSF5;
}

.site-footer a{
font-size: 2em;
color: blue;
}

.site-footer a:hover{
color: grey;
}