h1{color: blue;
}

#DB4442
#80CSF5
#47AC2A



a{
    color: #47AC2A;
}

h1{
    color: #47AC2A;
}
div{
    width: 200px;
    height: 200px;
    background-color: #47AC21;
}
.color1{
    width: 200px;
    height: 200px;
    background-color: #47AC21;
}
.color2{
    width: 200px;
    height: 200px;
    background-color: #47AC21;
}
.color3{
    width: 200px;
    height: 200px;
    background-color: #80CSF5;
}